services:
  keycloak:
    build:
      context: ./infra/keycloak
    container_name: keycloak
    user: "0"
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-admin}
      OIDC_PARTNER_PROXY_SECRET: ${OIDC_PARTNER_PROXY_SECRET:-change-me}
      DEMO_USER_USERNAME: ${DEMO_USER_USERNAME:-demo.user}
      DEMO_USER_EMAIL: ${DEMO_USER_EMAIL:-demo.user@example.com}
      DEMO_USER_FIRST_NAME: ${DEMO_USER_FIRST_NAME:-Demo}
      DEMO_USER_LAST_NAME: ${DEMO_USER_LAST_NAME:-User}
      DEMO_USER_PASSWORD: ${DEMO_USER_PASSWORD:-changeMe123}
    volumes:
      - ./infra/certs/keycloak-dev.crt:/opt/keycloak/conf/tls/keycloak-dev.crt:ro
      - ./infra/certs/keycloak-dev.key:/opt/keycloak/conf/tls/keycloak-dev.key:ro
      - ./infra/certs/portal-dev-ca.jks:/opt/keycloak/conf/tls/portal-dev-ca.jks:ro
    ports:
      - "8443:8443"
    entrypoint: ["/opt/keycloak/bin/start-with-import.sh"]

  portal:
    build:
      context: ./infra/portal
    container_name: portal
    ports:
      - "4200:80"
    depends_on:
      - keycloak

  partner:
    build:
      context: ./infra/partner
    container_name: partner
    expose:
      - "8080"
    depends_on:
      - keycloak

  apache:
    build:
      context: ./infra/apache
    container_name: apache-gateway
    depends_on:
      - portal
      - partner
      - keycloak
    environment:
      OIDC_PARTNER_PROXY_SECRET: ${OIDC_PARTNER_PROXY_SECRET:-change-me}
      OIDC_CRYPTO_PASSPHRASE: ${OIDC_CRYPTO_PASSPHRASE:-change-me}
    volumes:
      - ./infra/certs:/etc/apache2/tls:ro
    ports:
      - "80:80"
      - "443:443"
